@model EntityLayer.Concrete.SocialMedia

@{
    ViewData["Title"] = "AddSocialMedia";
    Layout = "~/Views/Shared/_NewAdminLAyout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("EditSocialMedia", "SocialMedia", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.SocialMediaID)

                <br />
                @Html.Label("Sosyal Medya")
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

                <br />

                @Html.Label("Url")
                @Html.TextBoxFor(x => x.Url, new { @class = "form-control" })

                <br />

                @Html.Label("İkon")
                @Html.TextBoxFor(x => x.Icon, new { @class = "form-control" })

                <br />


                @Html.Label("Statü")
                @Html.TextBoxFor(x => x.Status, new { @class = "form-control" })

                <br />

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success px-4 py-2">Güncelle</button>
                </div>
            }

        </div>
    </div>
</div>



