@model EntityLayer.Concrete.Portfolio
@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("AddPortfolio", "Portfolio", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                
                <br />

                @Html.Label("Proje Adı")
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })

                <br />


                @Html.Label("Tarih")
                @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Date, null, new { @class = "text-danger" })

                <br />


                @Html.Label("Tamamlanma Oranı")
                @Html.TextBoxFor(x => x.StatusValue, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.StatusValue, null, new { @class = "text-danger" })

                <br />

                @Html.Label("Resim 1")
                <input type="file" name="Picture1" accept="image/*" class="form-control" />
                <br />

                @Html.Label("Resim 2")
                <input type="file" name="Picture2" accept="image/*" class="form-control" />
                <br />

                @Html.Label("Proje Url")
                @Html.TextBoxFor(x => x.ProjectUrl, new { @class = "form-control" })
                <br />

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success px-4 py-2">Ekle</button>
                </div>

            }

        </div>
    </div>
</div>



