@using EntityLayer.Concrete
@model List<Announcement>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}
@{string color = ""; int row = 1;}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Duyurular Tablosu</h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                                <th>Tarih</th>
                                <th>Durum</th>
                                <th>Detaylar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.Status == "Yeni Yazı")
                                {
                                    color = "badge badge-danger";
                                }
                                if (item.Status == "Yeni Duyuru")
                                {
                                    color = "badge badge-warning";
                                }
                                if (item.Status == "Yeni Haber")
                                {
                                    color = "badge badge-info";
                                }
                                if (item.Status == "Yeni Mesaj")
                                {
                                    color = "badge badge-success";
                                }

                                <tr>
                                    <th>@row</th>
                                    <td>@item.Title</td>
                                    <td>@(((DateTime)item.Date).ToString("dd-MMM-yyy"))</td>
                                    <td><label class="@color">@item.Status</label></td>
                                    <td><a href="/Writer/Default/AnnouncementDetail/@item.AnnouncementID" class="btn btn-outline-primary btn-sm">Detay</a></td>
                                </tr>

                                row++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>