@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "EditService";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("EditService", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(x => x.ServiceID)

                <br />
                @Html.Label("Hizmet Adı")
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                <br />

                @Html.Label("Resim Url")
                <img src="/serviceImage/@Model.ImageUrl" width="150" height="150" class="ml-4 mb-4" />
                <input type="file" name="Picture" accept="image/*" class="form-control" />
                
                <br />

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary px-4 py-2">Güncelle</button>
                </div>
            }

        </div>
    </div>
</div>





