@model EntityLayer.Concrete.Testimonial

@{
    ViewData["Title"] = "EditTestimonial";
    Layout = "~/Views/Shared/_NewAdminLAyout.cshtml";
}


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("EditTestimonial", "Testimonial", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(x => x.TestimonialID)


                <br />

                @Html.Label("Ad Soyad")
                @Html.TextBoxFor(x => x.ClientName, new { @class = "form-control" })

                <br />

                @Html.Label("Görevi")
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

                <br />


                @Html.Label("Şirket Adı")
                @Html.TextBoxFor(x => x.Company, new { @class = "form-control" })

                <br />


                @Html.Label("Yorum")
                @Html.TextAreaFor(x => x.Comment, 10, 3, new { @class = "form-control" })

                <br />

                @Html.Label("Resim")
                <img src="/testimonialImage/@Model.ImageUrl" width="150" height="150" class="ml-4 mb-4" />
                <input type="file" name="Picture" accept="image/*" class="form-control" />
                <br />

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success px-4 py-2">Güncelle</button>
                </div>

            }

        </div>
    </div>
</div>



