@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "AddExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("AddExperience", "Experience", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <br />

                @Html.Label("Deneyim Adı")
                @Html.TextBoxFor(x => x.ExperienceName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.ExperienceName, null, new { @class = "text-danger" })
                <br />

                @Html.Label("Tarih")
                @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Date, null, new { @class = "text-danger" })
                <br />

                @Html.Label("Resim")
                <input type="file" name="Picture" accept="image/*" class="form-control" />
                <br />

                @Html.Label("Açıklama")
                @Html.TextAreaFor(x => x.Description, 10, 3, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description, null, new { @class = "text-danger" })
                <br />

                @Html.Label("Şirket Adı")
                @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.CompanyName, null, new { @class = "text-danger" })
                <br />

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success px-4 py-2">Ekle</button>
                </div>
            }
        </div>
    </div>
</div>

