@model EntityLayer.Concrete.Feature

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("Index", "Feature", FormMethod.Post))
            {

                <br />

                @Html.HiddenFor(x => x.FeatureID)

                @Html.Label("Başlık")
                @Html.TextBoxFor(x => x.Header, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Header, null, new { @class = "text-danger" })
                <br />

                @Html.Label("Ad Soyad")
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "text-danger" })
                <br />

                @Html.Label("Görev")
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Title, null, new { @class = "text-danger" })
                <br />

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary px-4 py-2">Güncelle</button>
                </div>

            }
        </div>
    </div>
</div>



